body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B162C;
    color: #e0e0e0;
}

.header-class, .about-section, .projects-section, .contact-section, .skills-section{
    /* width: 100%; */
    height: 100vh;
}

.header-class, .about-section {
    display: flex;
    align-items: center;

}
.header-class{

    flex-direction: column;
}
.about-section, .projects-section {
    justify-content: space-around;
    background-color: #e0e0e0;
    color: #0B162C;
}

.navbar {
    background-color: #0B162C;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

.nav-links li {
    float: left;
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #ddd;
    color: black;
}

.padding-class {
    padding: 20px 8%;
}

.test-logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #fff;
}
.title-box{
margin: auto;
text-align: center;

}

.title-class {
    font-size: 6em;
}

.subtitle-class {
    font-size: 2em;
    margin: 2em;
}

.test-main-image {
    height: 500px;
    width: 500px;
    background: #fff;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
}

.about-class-content {
    width: 600px;
}

.about-image {
    height: 400px;
    width: auto;
    border-radius: 10px;
}

.heading-class {
font-size: 2em;
text-align: center;
}

.about-heading-class {
    font-size: 2em;
}

.about-text {
    line-height: 1.5em;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
}

.contact-text {
    margin: 4em 0;
}


.social-media a {
    font-size: 24px; /* Icon size */
    color: #151516; /* LinkedIn brand color, you can choose your own */
    margin: 2em; /* Spacing between icons */
    text-decoration: none;
    /* other styles */
}

p i {
    margin-right: 1em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
}

.skills-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 6em;

}

.skills-list-item {
    margin: 2em;
    font-size: 1.2em;
}

.footer-text-class {
    text-align: center;
}
.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.skills-section, .projects-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cv_button {
    display: inline-block;
    margin: 15px;
    padding: 10px 15px;
    background-color: #0b162c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin: 4px 2px; /* Marges autour du bouton */
    cursor: pointer; /* Curseur en forme de pointeur */
}

.fab{
    color:#e0e0e0
}

.fa-chevron-down {
    color: #e0e0e0;
    font-size: 4em;
    margin-top: 4em;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .arrow-down a {
    animation: bounce 1s infinite;
    display: inline-block; 
  }

  #root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}


@media screen and (max-width: 1250px) {
    .about-class-content {
        width: 80%;
        text-align: center;
        margin-top: -200px;
      }

    .about-section, .projects-section {
        display: flex;
        flex-direction: column;
      }
      .skills-list-item {
        margin: 1em;
        font-size: 1em;
      }
      .footer-map{
        display: none;
      }
  }

@media screen and (max-width: 500px) {
    .project_image_container {
        width: 250px !important;
        height: 120px !important;
      }

      .project{
        width: 230px !important;
        height: 400px !important;
      }
      .title-class {
        font-size: 4.5em;
      }
      .about-image{
        display: none;
      }
  }