{% load static %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimitri Hoareau's Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="body-class">
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="#about-section">About Me</a></li>
            <li><a href="#projects-section">Projects</a></li>
            <li><a href="#contact-section">Contact</a></li>
        </ul>
    </nav>
    <!-- <main class="main-class"> -->
        <header class="header-class padding-class">
            <div>
                <div class="test-logo"></div>
                <h1 class="title-class">Dimitri Hoareau</h1>
                <p class="subtitle-class">Web Developer | Python Enthusiast | Software Craftsman</p>
            </div>
            <div class="test-main-image">
            </div>

        </header>
    
        <section id="about-section" class="about-section padding-class">
            <div class="test-about-image"></div>
            <div class="about-class-content">
                <h2 class="about-heading-class">About Me</h2>
                <p class="about-text">Après 5 années dans l'éducation nationale à enseigner l'histoire  je prends la décision de me reconvertir dans le numérique. Aujourd'hui, avec 3 années d'expérience en entreprise, j'ai acquis une expertise solide dans le développement d'applications web, avec une prédilection pour les projets en Python.</p>
                <p class="about-text">Je suis à la recherche de missions freelance en full remote. Si vous cherchez un développeur web passionné, adaptable, et doté d'une solide expérience en entreprise, n'hésitez pas à me contacter pour discuter de votre projet.</p>
                <button> Mon cv</button>
            </div>

        </section>
    
        <section id="projects-section" class="projects-section padding-class">
            <h2 class="heading-class">My Projects</h2>
            <!-- Project entries -->
        </section>
    
        <section id="contact-section" class="contact-section padding-class">
            <h2 class="heading-class">Contact Me</h2>
            <p class="text-class">Email: dimitrihoareau2@gmail.com</p>
        </section>
    
        <footer class="footer-class">
            <p class="footer-text-class">© 2023 Dimitri's Portfolio</p>
        </footer>
    <!-- </main> -->
</body>
</html>
