body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B162C;
    color: #e0e0e0;
}

.header-class, .about-section, .projects-section, .contact-section, .skills-section{
    /* width: 100%; */
    height: 100vh;
}

.header-class, .about-section {
    display: flex;
    align-items: center;
}
.about-section, .projects-section {
    justify-content: space-around;
    background-color: #e0e0e0;
    color: #0B162C;
}

.navbar {
    background-color: #0B162C;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

.nav-links li {
    float: left;
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #ddd;
    color: black;
}

.padding-class {
    padding: 20px 8%;
}

.test-logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #fff;
}


.title-class {
    font-size: 6em;
    width: 500px;
}

.subtitle-class {
    font-size: 2em;
}

.test-main-image {
    height: 500px;
    width: 500px;
    background: #fff;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
}

.about-class-content {
    width: 600px;
}

.about-image {
    height: 400px;
    width: auto;
    border-radius: 10px;
}

.heading-class {
font-size: 2em;
text-align: center;
}

.about-heading-class {
    font-size: 2em;
}

.about-text {
    line-height: 1.5em;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
}

.contact-text {
    margin: 4em 0;
}


.social-media a {
    font-size: 24px; /* Icon size */
    color: #151516; /* LinkedIn brand color, you can choose your own */
    margin: 2em; /* Spacing between icons */
    text-decoration: none;
    /* other styles */
}

p i {
    margin-right: 1em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
}

.project {
    background-color: #fff;
    color: #0B162C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 1em;
    width: 28%;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .project {
        flex-basis: calc(50% - 20px); /* Adjust for 2 projects per row on smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .project {
        flex-basis: 100%; /* Adjust for 1 project per row on very small screens */
    }
}

.more-btn {
    padding: 10px 20px;
    background-color: #0B162C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.more-btn:hover {
    background-color: #555; /* Button hover background color */
}

.footer-text-class {
    text-align: center;
}
