{% load static %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bienvenue sur le portfolio de Dimitri Hoareau, développeur web spécialisé en Python et ancien enseignant. Découvrez mes projets web, mon parcours de reconversion et mes compétences en développement. Disponible pour des missions freelance en full remote.">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/index-Bmlx0Oau.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body class="body-class">
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="#about-section">About Me</a></li>
            <li><a href="#skills-section">Compétences</a></li>
            <li><a href="#projects-section">Projects</a></li>
            <li><a href="#contact-section">Contact</a></li>
        </ul>
    </nav>
    <!-- <main class="main-class"> -->
        <header class="header-class padding-class">
            <div>
                <div class="test-logo"></div>
                <h1 class="title-class">Dimitri Hoareau</h1>
                <h2 class="title-class">Test DOCKER 3</h2>
                <p class="subtitle-class">Web Developer | Python Enthusiast | Software Craftsman</p>
            </div>
            <div class="test-main-image">
            </div>

        </header>

        <section id="about-section" class="about-section padding-class">
            <img class="about-image" src="{% static 'images/dimitri.jpeg' %}" alt="About Me Image">
            <div class="about-class-content">
                <h2 class="about-heading-class">About Me</h2>
                <p class="about-text">Après 5 années dans l'éducation nationale à enseigner l'histoire  je prends la décision de me reconvertir dans le numérique. Aujourd'hui, avec 3 années d'expérience en entreprise, j'ai acquis une expertise solide dans le développement d'applications web, avec une prédilection pour les projets en Python.</p>
                <p class="about-text">Je suis à la recherche de missions freelance, principalement en région Parisienne. Si vous cherchez un développeur web passionné, adaptable, et doté d'une solide expérience en entreprise, n'hésitez pas à me contacter pour discuter de votre projet.</p>
                <button class="cv_button" onclick="location.href='media/documents/cv.pdf';"> Download CV</button>
            </div>
        </section>

        <section id="skills-section" class="skills-section padding-class">
            <div class="skills-class-content">
                <h2 class="heading-class">Ce que je peux faire pour vous</h2>
                <ul class="skills-list">
                    <li class="skills-list-item">
                        <strong>Création d'applications Django :</strong> Développement d'applications web sécurisées et maintenables avec Django, en intégrant les meilleures pratiques pour une performance optimale.
                    </li>
                    <li class="skills-list-item">
                        <strong>Développement front-end :</strong> Conception d'interfaces utilisateur interactives et réactives avec HTML, CSS, JavaScript, React et Redux, pour une meilleure expérience utilisateur.
                    </li>
                    <li class="skills-list-item">
                        <strong>Architecture API REST :</strong> Conception et mise en œuvre d'API RESTful robustes avec Django REST Framework pour assurer une intégration et une évolutivité efficaces.
                    </li>
                    <li class="skills-list-item">
                        <strong>Intégration et déploiement continu :</strong> Utilisation de Docker, AWS, Nginx et GitHub Actions pour un déploiement rapide, fiable et évolutif des applications.
                    </li>
                    <li class="skills-list-item">
                        <strong>Gestion de bases de données :</strong> Maîtrise de PostgreSQL pour une gestion de données efficace et sécurisée.
                    </li>
                    <li class="skills-list-item">
                        <strong>Solutions WordPress personnalisées :</strong> Création et personnalisation de sites WordPress, du développement de thèmes à la mise en œuvre de plugins spécifiques.
                    </li>
                    <li class="skills-list-item">
                        <strong>Compétences interpersonnelles :</strong> Adapatation, Autonomie, Capacité à vulgariser et transmettre les informations techniques, gestion de groupe, rédaction organisée, et travail collaboratif en méthode Agile.
                    </li>
                </ul>
            </div>
        </section>
        

        <section id="projects-section" class="projects-section padding-class">
            <h2 class="heading-class">My Projects</h2>
            <div class="projects-container">
                <!-- my react app here -->
                <div id="root">
                    <script type="module" src="{% static 'frontend/assets/index-D7gsizj6.js' %}"></script>

                </div>

            </div>
        </section>


        <section id="contact-section" class="contact-section padding-class">
            <h2 class="heading-class">Contact Me</h2>
            <div class="footer-container">
                <div>
                    <p class="text-class contact-text">
                        <i class="fas fa-envelope"></i> dimitrihoareau2@gmail.com
                    </p>
                    <!-- Phone Icon -->
                    <p class="text-class contact-text">
                        <i class="fas fa-phone"></i> 0786815493
                    </p>
                    <!-- Address Icon -->
                    <p class="text-class contact-text">
                        <i class="fas fa-map-marker-alt"></i> 97434 - Saint gilles les Bains
                    </p>
                    <div class="social-media">
                        <!-- Add GitHub Link -->
                        <a href="https://github.com/dimitri-hoareau" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        <!-- Add LinkedIn Link -->
                        <a href="https://www.linkedin.com/in/dimitri-hoareau" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>

                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3414.5146612836706!2d55.224726085667136!3d-21.050495627478213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x21829202baec36af%3A0x4179392cc8ea209f!2s42%20Chem.%20Summer%20N%C2%B0%201%2C%20St%20Paul%2097434%2C%20La%20R%C3%A9union!5e0!3m2!1sfr!2sfr!4v1702644625517!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>


        <footer class="footer-class">
            <p class="footer-text-class">© 2023 Dimitri's Portfolio</p>
        </footer>
    <!-- </main> -->
</body>
</html>
