{% extends 'mainpage/base.html' %}

{% block content %}
    <main class="mentions-cookies">
        <section id="legal-notice">
            <h2>Edition du site</h2>
            <p>Le présent site, accessible à l’URL <a href="https://dimitrihoareau.fr/">https://dimitrihoareau.fr/</a>, est édité par Dimitri Hoareau, résidant 85 boulevard Davout 75020 PARIS, de nationalité Française, né(e) le 01/10/1987, Entreprise individuelle SIRET :  98039301100013.</p>

            <h2>Hébergement</h2>
            <p>Le Site est hébergé par Amazon Web Services, Inc., situé à 410 Terry Avenue North, Seattle, WA 98109-5210, États-Unis. Pour plus d'informations, veuillez consulter le site web : <a href="https://aws.amazon.com">https://aws.amazon.com</a>.</p>


            <h2>Directeur de publication</h2>
            <p>Le Directeur de la publication du Site est Dimitri Hoareau.</p>

            <h2>Nous contacter</h2>
            <ul>
                <li>Par téléphone : +33786815493</li>
                <li>Par email : <a href="mailto:dimitrihoareau2@gmail.com">dimitrihoareau2@gmail.com</a></li>
                <li>Par courrier : 85 boulevard Davout 75020 PARIS</li>
            </ul>
        </section>

        <section id="privacy-policy">
            <h2>Description des services fournis</h2>
            <p>Le site a pour objet de fournir une information concernant l’ensemble des activités de la société. Il s’efforce de fournir des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des oublis, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>

            <p>Toutes les informations indiquées sur le site sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>

            <h2>Données personnelles</h2>
            <p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 (« RGPD »).</p>

            <p>Vos données sont collectées par l’entreprise individuelle Dimitri Hoareau. Les informations personnelles pouvant être recueillies sur le site sont uniquement utilisées par l’éditeur pour la gestion des relations avec vous. Les données personnelles collectées sont les suivantes :</p>
            <ul>
                <li>Prénom et nom</li>
                <li>Adresse mail</li>   
            </ul>

            

            <h2>Politique de conservation des données</h2>
            <p>La Plateforme conserve vos données pour la durée nécessaire pour vous fournir ses services ou son assistance...</p>

            <p>Dans la mesure raisonnablement nécessaire ou requise pour satisfaire aux obligations légales ou réglementaires, régler des litiges, empêcher les fraudes et abus ou appliquer nos modalités et conditions, nous pouvons également conserver certaines de vos informations si nécessaire, même après que vous ayez fermé votre compte ou que nous n’ayons plus besoin pour vous fournir nos services.</p>

            <p>Pour toute information complémentaire sur la protection des données personnelles, nous vous invitons à consulter le site : <a href="https://www.cnil.fr/">https://www.cnil.fr/</a>.</p>
        </section>
    </main>
    {% endblock %}

